{% extends 'base.html' %}

{% block title %}Menus | The Nutri Cat{% endblock %}
{% block navbar %}
{% include '_components/_navbar.html' %}
{% endblock %}
{% block section %}
<section class="menus-slider">
    <div class="slider-container">
        <div class="slider">
            <!-- Start the slides -->
            <div class="slides" style="--img: url('https://nutri-cat-images.s3.eu-central-1.amazonaws.com/recipe_images/chicken_lasagna_alla_genovese.png')">
                <div class="content">
                    <h2>Italian menu</h2>
                    <p class="text-capitalize">Italian Cuisine Recipes: Delicious and Healthy</p>
                    <a href="#menu-container" class="btn btn-primary" onclick="addMenu('Italian')">Show Menu</a>
                </div>
            </div>
            <div class="slides" style="--img: url('https://nutri-cat-images.s3.eu-central-1.amazonaws.com/recipe_images/avocado_toast_with_egg_and_salad.png')">
                <div class="content">
                    <h2>Fast menu</h2>
                    <p class="text-capitalize">Easy and fast to prepare recipes for every day</p>
                    <a href="#menu-container" class="btn btn-primary" onclick="addMenu('Fast')">Show Menu</a>
                </div>
            </div>
            <div class="slides" style="--img: url('https://nutri-cat-images.s3.eu-central-1.amazonaws.com/recipe_images/guacamole_with_melon_and_lavash_nachos.png')">
                <div class="content">
                    <h2>Summer menu</h2>
                    <p class="text-capitalize">Balanced recipes for every day from seasonal products</p>
                    <a href="#menu-container" class="btn btn-primary" onclick="addMenu('Summer')">Show Menu</a>
                </div>
            </div>
            <div class="slides" style="--img: url('https://nutri-cat-images.s3.eu-central-1.amazonaws.com/recipe_images/salad_with_eggplant_zucchini_and_mozzarella.png')">
                <div class="content">
                    <h2>Italian menu</h2>
                    <p class="text-capitalize">Italian Cuisine Recipes: Delicious and Healthy</p>
                    <a href="#menu-container" class="btn btn-primary" onclick="addMenu('Italian')">Show Menu</a>
                </div>
            </div>
            <div class="slides" style="--img: url('https://nutri-cat-images.s3.eu-central-1.amazonaws.com/recipe_images/chicken_salad_with_couscous_and_feta.png')">
                <div class="content">
                    <h2>Fast menu</h2>
                    <p class="text-capitalize">Easy and fast to prepare recipes for every day</p>
                    <a href="#menu-container" class="btn btn-primary" onclick="addMenu('Fast')">Show Menu</a>
                </div>
            </div>
            <div class="slides" style="--img: url('https://nutri-cat-images.s3.eu-central-1.amazonaws.com/recipe_images/easy_salmon_quiche_with_zucchini.png')">
                <div class="content">
                    <h2>Summer menu</h2>
                    <p class="text-capitalize">Balanced recipes for every day from seasonal products</p>
                    <a href="#menu-container" class="btn btn-primary" onclick="addMenu('Summer')">Show Menu</a>
                </div>
            </div>
        </div>
        <div class="buttons">
            <span class="prev"></span>
            <span class="next"></span>
        </div>
    </div>
</section>
<p class="choose-menu">Please press <b>"Show menu"</b> to view the details!</p>
<!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START THE MENU DISPLAY SECTION
/////////////////////////////////////////////////////////////////////////////////////////////-->
<section id="menu-container" class="menus-content mb-5">

</section>
{% endblock %}
{% block footer %}
{% include '_components/_footer.html' %}
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/menus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/recipes.js') }}"></script>
{% endblock %}