<!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START THE FOOTER SECTION
/////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="container-fluid footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-5 d-flex align-items-center justify-content-evenly ms-3 footer-logo">
      <a href="/" class="mb-3 me-3 mb-md-0 text-decoration-none lh-1">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="The Nutri Cat logo">
      </a>
      <span class="mb-3 mb-md-0 text-secondary">&copy; 2024 The Nutci Cat, Inc</span>
    </div>
    <!-- Social links -->
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-3 social-media">
      <li class="ms-3"><a class="text-secondary"
          href="https://t.me/nutricatka_helpbot?fbclid=PAY2xjawJOTqtleHRuA2FlbQIxMQABpt-AZ-CdZxs3k6nM3xUINxkRHLg_CO3J8NOaVkNa-FMK2_YdUtp6sGahig_aem_FcMUBacbHGubhysgsGlGCw"
          aria-label="Link to the Nutri Cat Telegram"><i class="bi bi-telegram"></i></a></li>
      <li class="ms-3"><a class="text-secondary"
          href="https://www.instagram.com/nutrikatka?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          aria-label="Link to the Nutri Cat Instagram"><i class="bi bi-instagram"></i></a></li>
      <li class="ms-3"><a class="text-secondary" href="https://www.facebook.com/share/ikDNWXsFc1XrL6w6/"
          aria-label="Link to the Nutri Cat Facebook"><i class="bi bi-facebook"></i></a></li>
    </ul>
  </footer>
</div>
<!-- Back to Top button -->
<a href="#home" class="shadow btn btn-primary rounded-circle back-to-top" aria-label="Back to top button">
  <i class="bi bi-chevron-up"></i>
</a>