<!-- ////////////////////////////////////////////////////////////////////////////////////////
                                 START THE NAVBAR SECTION
  /////////////////////////////////////////////////////////////////////////////////////////////-->
<nav class="navbar navbar-expand-lg navbar-dark bg-white menu shadow fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center position-relative d-lg-none">
    <!-- Button toggler for Offcanvas Menu -->
    <button class="navbar-toggler menuToggle py-1 px-2" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand position-absolute top-50 start-50 translate-middle" href="{{ url_for('recipes.index') }}"
      data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Home">
      <img src="{{ url_for('static', filename='img/logo_horiz.png') }}" alt="The Nutri Cat logo">
    </a>
    <div class="d-flex align-items-center search-user">
      <!-- Search Button -->
      <a class="btn btn-success rounded-circle text-white d-flex align-items-center justify-content-center me-2"
        id="searchToggle" aria-label="Search">
        <span class="material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#searchModal">search</span>
      </a>
      <!-- User Profile Button -->
      <a href="{{ url_for('account.profile') }}"
        class="btn btn-success rounded-circle text-white d-flex align-items-center justify-content-center"
        style="width: 40px; height: 40px;" aria-label="Profile">
        {% if current_user.is_authenticated %}
          {{ current_user.username[:2].upper() }}
        {% else %}
          <i class="bi bi-person-fill"></i>
        {% endif %}
      </a>
    </div>
  </div>
  <!-- Large screen menu start -->
  <div class="container-fluid justify-content-between align-items-center d-none d-lg-flex large-menu px-5">
    <a class="navbar-brand" href="{{ url_for('recipes.index') }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
      data-bs-custom-class="custom-tooltip" data-bs-title="Home">
      <img src="{{ url_for('static', filename='img/logo_horiz.png') }}" alt="The Nutri Cat logo">
    </a>
    <ul class="navbar-nav navigation ms-auto pe-5 pe-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('recipes.recipes') }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-custom-class="custom-tooltip" data-bs-title="All Recipes">Recipes</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menus.menus') }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-custom-class="custom-tooltip" data-bs-title="Custom Menus">Menus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('recipes.recipes') }}?page=1&filter=favorites#all-recipes"
          data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
          data-bs-title="Favorite Recipes">Favorites</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('recipes.recipes', tag_type='my_recipe') }}" class="nav-link" data-bs-toggle="tooltip"
          data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="My Recipes">My Recipes</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Sign In</a>
      </li>
      {% endif %}
    </ul>
    <div class="d-flex align-items-center search-user">
      <!-- Search Button -->
      <a class="btn btn-success rounded-circle text-white d-flex align-items-center justify-content-center me-2"
        aria-label="Search">
        <span class="material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#searchModal">search</span>
      </a>
      <!-- User Profile Button -->
      <a href="{{ url_for('account.profile') }}"
        class="btn btn-success rounded-circle text-white d-flex align-items-center justify-content-center"
        style="width: 40px; height: 40px;" aria-label="Profile">
        {% if current_user.is_authenticated %}
          {{ current_user.username[:2].upper() }}
        {% else %}
        <i class="bi bi-person-fill"></i>
        {% endif %}
      </a>
    </div>
  </div>
</nav>

<!-- Offcanvas Menu Start -->
<div class="offcanvas offcanvas-start offcanvas-menu" tabindex="-1" id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <a href="{{ url_for('recipes.index') }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
      data-bs-custom-class="custom-tooltip" data-bs-title="Home" class="offcanvas-title" id="offcanvasNavbarLabel">
      <img src="{{ url_for('static', filename='img/logo_horiz.png') }}" alt="The Nutri Cat logo" class="">
    </a>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body pt-0">
    <ul class="navbar-nav navigation">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('recipes.recipes') }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-custom-class="custom-tooltip" data-bs-title="All Recipes">Recipes</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menus.menus') }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-custom-class="custom-tooltip" data-bs-title="Custom Menus">Menus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('recipes.recipes') }}?page=1&filter=favorites#all-recipes"
          data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
          data-bs-title="Favorite Recipes">Favorites</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('recipes.recipes', tag_type='my_recipe') }}" class="nav-link" data-bs-toggle="tooltip"
          data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="My Recipes">My Recipes</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Sign In</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

<!-- Search Box for global search -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center justify-content-between">
        <h1 id="searchModalLabel" class="visually-hidden">Search Modal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-chevron-left"></i>
        </button>
        <input id="search-input" class="form-control me-2" type="search"
          placeholder="Search by name, ingredient, menu..." aria-label="Search">
        <button type="button" id="search-button" class="btn btn-primary text-secondary">Search</button>
      </div>
      <ul id="searchSuggestions" class="list-group position-absolute w-100 shadow"
        style="top: 70px; z-index: 1000; display: none;">
        <!-- Suggestions will be inserted here -->
      </ul>
      <div class="modal-body">
        <h2 class="text-secondary fs-6 mb-4">Menus</h2>
        <hr>
        <div id="search-categories" class="row g-3 mb-5">
          <!-- Categories inserted here dynamically -->
        </div>
      </div>
    </div>
  </div>
</div>