{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}
{% block section %}
<section class="forgot-password d-flex justify-content-center align-items-center">
    <div id="container" class="position-absolute w-100 h-100 top-0 start-0 overflow-hidden"></div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div
                class="col-11 col-xs-10 col-s-9 col-sm-8 col-m-6 col-md-4 col-lg-3 forgot-password-form d-flex justify-content-center align-items-center auth-form">
                <form id="forgot-password-form" action="{{ url_for('auth.forgot_password') }}" method="post"
                    autocomplete="off">
                    <h2 class="position-relative text-white text-center fs-3 fw-semibold my-5">Reset Password</h2>
                    <div class="input-group mb-5">
                        <input type="email" class="input required-field" name="email" id="email" data-field="email"
                            placeholder="Please enter your email..." autofocus required>
                        <label for="email" class="label">Email</label>
                        <div class="feedback pt-2" aria-live="polite"></div>
                    </div>
                    <!-- reCAPTCHA widget -->
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                    </div>
                    <button id="submit-forgot-password-form" class="btn w-100 my-3 text-uppercase shining-btn"
                        type="submit">Reset &nbsp; Password</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/animations.js') }}"></script>
<script src="{{ url_for('static', filename='js/formHandlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}