{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}
{% block section %}
<section class="reset-password d-flex justify-content-center align-items-center">
    <div id="container" class="position-absolute w-100 h-100 top-0 start-0 overflow-hidden"></div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div
                class="col-11 col-xs-10 col-s-9 col-sm-8 col-m-6 col-md-4 col-lg-3 reset-password-form d-flex justify-content-center align-items-center auth-form">
                <form id="reset-password-form" method="post" autocomplete="off">
                    {{ form.hidden_tag() }}
                    <h2 class="position-relative text-white text-center fs-3 fw-semibold my-5">Set New Password</h2>
                    <div class="input-group">
                        {{ form.password(class="input required-field", placeholder="", required=True, **{'data-field':'password'}) }}
                        <span class="toggleBtn hidden"></span>
                        {{ form.password.label(class="label") }}
                        <div class="feedback pt-2" aria-live="polite"></div>
                    </div>
                    <div class="input-group">
                        {{ form.confirmation(class="input required-field", placeholder="", required=True, **{'data-field':'confirm_password'}) }}
                        <span class="toggleBtn hidden"></span>
                        {{ form.confirmation.label(class="label") }}
                        <div class="feedback pt-2" aria-live="polite"></div>
                    </div>
                    {{ form.submit(id="submit-reset-password-form", class="btn w-100 mt-5 mb-4 text-uppercase shining-btn") }}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script src="{{ url_for('static', filename='js/animations.js') }}"></script>
<script src="{{ url_for('static', filename='js/formHandlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}